export(make.income)
export(plot.assetgrid)
export(plot.experiments)
import(RSQLite)
import(data.table)
import(ggplot2)
import(nlme)
import(reshape2)
import(stringr)
import(survey)
import(texreg)
import(zoo)
exportPattern("^[^\\.]")
